.advantages {
  padding: 0 $base-indent;
}

.advantages__wrapper {
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__item {
  background-color: $base-color2;
  margin-bottom: $base-indent;
  padding: 30px 33px 18px 20px;
}
