.advantages {
  padding: 0 $base-indent;
  margin-bottom: $base-indent;
}

.advantages__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.advantages__item {
  background-color: $secondary-color;
  padding: $base-indent;
  padding-top: 30px;

  &:not(:last-child) {
    margin-bottom: $base-indent;
  }
}

//*Media-tablet

@media (min-width: $tablet-width) {
  .advantages {
    padding: 0 $base-indent-tablet;
    margin-bottom: 45px;
  }

  .advantages__item {
    padding: 77px 316px 57px 52px;

    &:not(:last-child) {
      margin-bottom: $base-indent-tablet;
    }
  }
}
