//*Список преимуществ (index)

.advantages {
  padding: 0 $base-indent;
  margin-bottom: 22px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  padding: 30px $base-indent 18px;

  background-color: $secondary-color;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: $base-indent;
  }
}

//*tablet-width

@media (min-width: $tablet-width) {
  .advantages {
    padding: 0 $base-indent-tablet;
    margin-bottom: 45px;
  }

  .advantages__item {
    padding: 77px 316px 57px 52px;

    &:not(:last-child) {
      margin-bottom: $base-indent-tablet;
    }
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .advantages {
    padding: 0 $base-indent-desktop;
    margin-bottom: 70px;
  }


  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }

  .advantages__item {
    padding: 77px 52px 59px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
