//*Преимущества (index)

.advantage-card {
  position: relative;
}

.advantage-card--slimming {
  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 53px;
    left: 1px;
    top: -10px;
    background-repeat: no-repeat;
    background-image: url("/img/cat_back-1.svg");
  }
}

.advantage-card--mass {
  &::before {
    position: absolute;
    content: "";
    width: 67px;
    height: 50px;
    left: -8px;
    top: -10px;
    background-repeat: no-repeat;
    background-image: url("/img/cat_back-2.svg");
  }
}

.advantage-card__header {
  margin: 0 0 29px 91px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantage-card__description {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;

  font-family: $third-font-family;
  font-size: $third-fs;
  line-height: 18px;
  color: $text-light-dark-1;

  border-bottom: 1px solid $color-1;
}

.advantage-card__link {
  position: relative;

  text-decoration: none;
  text-transform: uppercase;
  font-size: $primary-fs;
  line-height: 1;
  color: $text-dark;

  &:active {
    opacity: 0.3;
  }
}

.advantage-card__link-icon {
  position: absolute;
  width: 24px;
  height: 12px;
  top: 6px;
  right: -39px;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .advantage-card--slimming {
    &::before {
      width: 200px;
      height: 200px;
      left: 393px;
      top: 0;
      background-size: 200px 200px;
    }
  }

  .advantage-card--mass {
    &::before {
      width: 268px;
      height: 200px;
      left: 359px;
      top: 10px;
      background-size: 268px 200px;
    }
  }

  .advantage-card__header {
    margin: 0;
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 1;
  }

  .advantage-card__description {
    margin-bottom: 52px;
    padding-bottom: 0;

    font-size: $primary-fs;
    line-height: 24px;
    color: $text-dark;

    border-bottom: none;
  }

  .advantage-card__link {
    font-size: $secondary-fs;
    line-height: 30px;
  }

  .advantage-card__link-icon {
    position: absolute;
    top: 10px;
    right: -39px;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .advantage-card--slimming {
    &::before {
      width: 100px;
      height: 106px;
      left: 0;
      top: -41px;
      background-size: 100px 106px;
    }
  }

  .advantage-card--mass {
    &::before {
      width: 134px;
      height: 100px;
      left: -19px;
      top: -41px;
      background-size: 134px 100px;
    }
  }

  .advantage-card__header {
    margin: 0 0 73px 162px;
  }

  .advantage-card__description {
    margin-bottom: 27px;
  }
}
