.advantage-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantage-card__header {
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  margin-bottom: 29px;
}

.advantage-card__description {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 42px;
  text-align: start;
}

.advantage-card__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url(/img/advantage-card-arrow.png);
    background-repeat: no-repeat;
    min-width: 24px;
    min-height: 12px;
    top: 25%;
    right: -50%;
  }

  &:active {
    opacity: 0.3;
  }
}
