//*Преимущества (index)

.advantage-card {
  position: relative;
}

.advantage-card__image {
  position: absolute;
  background: url("data:image/svg+xml,%3Csvg width='51' height='50' viewBox='0 0 51 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25.5' cy='25' r='25' fill='%2368B738'/%3E%3C/svg%3E%0A") no-repeat;
  background-size: contain;
  background-position: center;
}

.advantage-card__image--slimming {
  top: -9px;
  left: 2px;
}

.advantage-card__image--mass {
  top: -6px;
  left: -7px;
}

.advantage-card__header {
  margin: 0 0 29px 71px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantage-card__description {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;

  font-family: $third-font-family;
  font-size: $third-fs;
  line-height: 18px;
  color: $text-light-dark-1;

  border-bottom: 1px solid $color-1;
}

.advantage-card__link {
  position: relative;

  text-decoration: none;
  text-transform: uppercase;
  font-size: $primary-fs;
  line-height: 1;
  color: $text-dark;

  &:active {
    opacity: 0.3;
  }
}

.advantage-card__link-icon {
  position: absolute;
  width: 24px;
  height: 12px;
  top: 6px;
  right: -39px;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .advantage-card__image--slimming {
    width: 200px;
    left: 393px;
    top: 0;
  }

  .advantage-card__image--mass {
    width: 268px;
    left: 359px;
    top: 10px;
  }

  .advantage-card__header {
    margin: 0;
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 1;
  }

  .advantage-card__description {
    margin-bottom: 52px;
    padding-bottom: 0;

    font-size: $primary-fs;
    line-height: 24px;
    color: $text-dark;

    border-bottom: none;
  }

  .advantage-card__link {
    font-size: $secondary-fs;
    line-height: 30px;
  }

  .advantage-card__link-icon {
    position: absolute;
    top: 10px;
    right: -39px;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .advantage-card__image--slimming {
    width: 100px;
    left: 0;
    top: -41px;
  }

  .advantage-card__image--mass {
    width: 134px;
    left: -19px;
    top: -41px;
  }

  .advantage-card__header {
    margin: 0 0 73px 162px;
  }

  .advantage-card__description {
    margin-bottom: 27px;
  }
}
