//*Список доп. товаров (catalog)

.another-list__item {
  border-top: 1px solid $reserve-color-3;
  padding: 13px 0 19px;
  display: flex;
  flex-direction: column;

  &:last-child {
    border-bottom: 1px solid $reserve-color-3;
  }
}

.another-list__header {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: $text-dark-lighter-2;
}

.another-list__description {
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  font-family: $third-font-family;
  font-size: 14px;
  line-height: 14px;
  color: $text-dark-lighter-1;
}

.another-list__value {
  margin: 0;
}

.another-list__button {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

//*Media-tablet

@media (min-width: $tablet-width) {
  .another-list__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 25px;
    border: 1px solid $reserve-color-3;
    border-bottom: none;
    padding: 26px 38px 28px;
  }

  .another-list__header {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .another-list__description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: right;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .another-list__button {
    grid-column: 1/3;
  }
}

//*Media-desktop

@media (min-width: $desktop-width) {
  .another-list {
    max-width: 73.5%;
  }

  .another-list__item {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
    align-items: center;
    column-gap: 0;
    row-gap: 0;
    border: none;
    border-top: 1px solid $reserve-color-3;

    &:last-child {
      border-bottom: 1px solid $reserve-color-3;
    }

    padding: 15px 0 17px;
  }

  .another-list__description {
    grid-template-columns: 3fr 1fr;
    text-align: left;
    grid-column: 3/5;
  }

  .another-list__button {
    grid-column: -1/-2;
  }
}
