//*Каталог (catalog)

.catalog {
  padding: 0 $base-indent;
  margin-bottom: 23px;

  border-top: 1px solid $color-1;
}

.catalog__title {
  margin: 26px 0 42px;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .catalog {
    padding: 0 $base-indent-tablet;
    margin-bottom: 68px;

    border-top: none;
  }

  .catalog__title {
    margin: 33px 0 82px;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0 $base-indent-desktop;
    margin: 0;
    margin-bottom: 75px;
  }

  .catalog__title {
    margin: 20px 0 84px;
  }
}
