//*Карточка товара (catalog)

.catalog-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.catalog-card__image {
  display: block;
  width: 100%;
}

.catalog-card__image-wrapper {
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.catalog-card__button {
  padding: 10px;

  grid-column: 1/3;

  font-size: $primary-fs;
  line-height: 20px;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .catalog-card {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .catalog-card__image-wrapper {
    padding: 0;
    margin-bottom: 28px;
    height: 206px;

    align-items: flex-end;
  }
}
