//*Каталог (catalog)

.catalog {
  padding: 0 $base-indent;
  border-top: 1px solid $reserve-color-1;
  margin-bottom: 25px;
}

.catalog__title {
  margin: 27px 0 41px;
}

//*Media-tablet

@media (min-width: $tablet-width) {
  .catalog {
    padding: 0 $base-indent-tablet;
    border-top: none;
    margin-bottom: 68px;
  }

  .catalog__title {
    margin: 33px 0 82px;
  }
}

//*Media-desktop

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0 $base-indent-desktop;
    margin: 0;
    margin-bottom: 75px;
  }

  .catalog__title {
    margin: 20px 0 84px;
    font-size: 60px;
    line-height: 60px;
  }
}
