//*Комментарий (form)

.comment__field-name {
  margin-bottom: 38px;
}

.comment__input {
  padding: 9px 12px 9px 15px;
  width: 100%;
  min-height: 150px;

  font-family: inherit;
  border: 1px solid $color-2;
  box-sizing: border-box;
  resize: none;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .comment__field-name {
    margin-bottom: 76px;
  }

  .comment__input {
    padding: 10px 19px;
    min-height: 174px;
  }
}
