//*Блок ввода контактной информации (form)

.contacts__field-name {
  margin-bottom: 35px;
  box-sizing: border-box;
}

.contacts__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.contacts__input {
  padding: 13px 50px 14px 15px;

  display: flex;

  border: 1px solid $color-2;
  box-sizing: border-box;
  outline: none;

  &:hover {
    border-color: $color-3;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px $text-light-dark-1;
    border-color: $text-light-dark-1;
  }

  &:invalid {
    box-shadow: inset 0 0 0 1px $error-color;
    border-color: $error-color;
  }
}

.contacts__input--email {
  width: 219px;

  &:focus + .contacts__input-image--email path {
    stroke: $primary-color;
  }

  &:invalid + .contacts__input-image--email path {
    stroke: $error-color;
  }
}

.contacts__input--phone {
  width: 204px;

  &:focus + .contacts__input-image--phone path {
    fill: $primary-color;
  }

  &:invalid + .contacts__input-image--phone path {
    fill: $error-color;
  }
}

.contacts__input-image {
  position: absolute;
}

.contacts__input-image--email {
  right: 16px;
}

.contacts__input-image--phone {
  right: 13px;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .contacts__field-name {
    margin-bottom: 76px;
  }

  .contacts__label {
    &:not(:last-child) {
      margin-bottom: $base-indent;
    }
  }

  .contacts__input {
    padding: 10px 50px 10px 21px;
  }

  .contacts__input--email {
    width: 551px;
  }

  .contacts__input--phone {
    width: 535px;
  }

  .contacts__input-image--email {
    right: 19px;
  }

  .contacts__input-image--phone {
    right: 17px;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .contacts__label {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .contacts__input {
    padding-left: 19px;
  }

  .contacts__input--email {
    width: 486px;
  }

  .contacts__input--phone {
    width: 472px;
  }
}
