.contacts {
}

.contacts__field-name {
  margin-bottom: 35px;
  position: relative;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    background-color: $primary-color;
    height: 2px;
    width: 100px;
    right: -118px;
    top: 15px;
  }
}

.contacts__label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.contacts__input {
  padding: 13px 15px 14px;
  box-sizing: border-box;
  border: 1px solid $reserve-color-3;
}

.contacts__input--email {
  width: 219px;
}

.contacts__input--phone {
  width: 204px;
}
