//*Блок ввода контактной информации (form)

.contacts__field-name {
  margin-bottom: 35px;
  box-sizing: border-box;
}

.contacts__label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.contacts__input {
  padding: 13px 50px 14px 15px;

  display: flex;

  border: 1px solid $color-2;
  box-sizing: border-box;
  outline: none;

  &:hover {
    border-color: $color-3;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px $text-light-dark-1;
    border-color: $text-light-dark-1;
  }

  &:invalid {
    box-shadow: inset 0 0 0 1px $error-color;
    border-color: $error-color;
  }
}

.contacts__input--email {
  width: 219px;

  background-image: url("/img/email.svg");
  background-repeat: no-repeat;
  background-position: 185px 50%;

  &:invalid {
    background-image: url("/img/email-invalid.svg");
  }

  &:focus {
    background-image: url("/img/email-valid.svg");
  }
}

.contacts__input--phone {
  width: 204px;

  background-image: url("/img/phone.svg");
  background-repeat: no-repeat;
  background-position: 171px 50%;

  &:invalid {
    background-image: url("/img/phone-invalid.svg");
  }

  &:focus {
    background-image: url("/img/phone-valid.svg");
  }
}

//*tablet-width

@media (min-width: $tablet-width) {
  .contacts__field-name {
    margin-bottom: 76px;
  }

  .contacts__label {
    &:not(:last-child) {
      margin-bottom: $base-indent;
    }
  }

  .contacts__input {
    padding: 10px 50px 10px 21px;
  }

  .contacts__input--email {
    width: 551px;
    background-position: 514px 50%;
  }

  .contacts__input--phone {
    width: 535px;
    background-position: 498px 50%;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .contacts__label {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .contacts__input {
    padding-left: 19px;
  }

  .contacts__input--email {
    width: 486px;
    background-position: 448px 50%;
  }

  .contacts__input--phone {
    width: 472px;
    background-position: 435px 50%;
  }
}
