//*mobile-width-only

@media (max-width: $mobile-width-only) {
  .main-slider__range {
    overflow: hidden;
    /* stylelint-disable-next-line */
    -webkit-appearance: none;
    background-color: $background-light;
  }

  .main-slider__range::-webkit-slider-runnable-track {
    height: 6px;
    /* stylelint-disable-next-line */
    -webkit-appearance: none;
    color: #0a917c;
    margin-top: -4px;
  }

  .main-slider__range::-webkit-slider-thumb {
    /* stylelint-disable-next-line */
    -webkit-appearance: none;
    width: 1px;
    height: auto;
    cursor: ew-resize;
    box-shadow: -86px 0 0 86px $primary-color;
  }

  .main-slider__range::-moz-range-progress {
    background-color: $primary-color;
  }

  .main-slider__range::-ms-fill-lower {
    background-color: $primary-color;
  }

  .main-slider__range::-moz-range-track {
    background-color: $background-light;
  }

  .main-slider__range::-ms-fill-upper {
    background-color: $background-light;
  }
}

//*tablet & desktop width

@media (min-width: $tablet-width) {
  .main-slider__range {
    /* stylelint-disable-next-line */
    -webkit-appearance: none;
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  .main-slider__range:focus {
    outline: none;
  }

  .main-slider__range::-ms-track {
    width: 100%;
    cursor: pointer;

    // Hides the slider so custom styles can be added
    background: transparent;
    border-color: transparent;
    color: transparent;

    // Стилизация прогресс-трека слайдера
    height: 6px;
    background-color: $color-6;
    border-radius: 6px;
  }

  // * Стилизация кнопки слайдера
  // Стилизация кнопки слайдера дяя WebKit/Blink
  .main-slider__range::-webkit-slider-thumb {
    /* stylelint-disable-next-line */
    -webkit-appearance: none;
    border: 1px solid $color-3;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #68b738;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: inset 0 0 0 13px $background-light, 0 1px 3px rgba(0, 0, 0, 0.16); /* Add cool effects to your sliders! */

    &:hover {
      box-shadow: inset 0 0 0 13px $background-light, 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      border: 1px solid $primary-color;
      box-shadow: inset 0 0 0 13px $background-light, 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }

  // Стилизация кнопки слайдера дяя Firefox
  .main-slider__range::-moz-range-thumb {
    border: 1px solid $color-3;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #68b738;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: inset 0 0 0 13px $background-light, 0 1px 3px rgba(0, 0, 0, 0.16); /* Add cool effects to your sliders! */

    &:hover {
      box-shadow: inset 0 0 0 13px $background-light, 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      border: 1px solid $primary-color;
      box-shadow: inset 0 0 0 13px $background-light, 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }

  /* All the same stuff for IE */
  .main-slider__range::-ms-thumb {
    border: 1px solid $color-3;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #68b738;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: inset 0 0 0 13px $background-light, 0 1px 3px rgba(0, 0, 0, 0.16); /* Add cool effects to your sliders! */

    &:hover {
      box-shadow: inset 0 0 0 13px $background-light, 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      border: 1px solid $primary-color;
      box-shadow: inset 0 0 0 13px $background-light, 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }

  // * Стилизация прогресс-трека слайдера
  .main-slider__range::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: $color-6;
    border-radius: 6px;
  }

  .main-slider__range::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: $color-6;
    border-radius: 6px;
  }
}
