//*Живой пример (index)

.example {
  padding: 27px $base-indent 40px;

  background-color: $secondary-color-darker;
}

.example__article {
  margin-bottom: 40px;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .example {
    padding: 0 $base-indent-tablet 61px;

    position: relative;

    background-color: inherit;

    &::before {
      position: absolute;
      content: "";
      width: 768px;
      height: 462px;
      bottom: 0;
      left: 0;
      background-color: $secondary-color-darker;
    }
  }

  .example__article {
    margin-bottom: 80px;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .example {
    padding: 0 $base-indent-desktop 71px;

    display: grid;
    grid-template-columns: 436px 592px;
    justify-content: space-between;

    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 1440px;
      height: 462px;
      bottom: 0;
      left: 0;
      background-color: $secondary-color;
    }
  }

  .example__article {
    margin-bottom: 0;
  }
}
