.example {
  background-color: $secondary-color-dark;
  padding: 25px $base-indent 40px;
}

.example__article {
  margin-bottom: 40px;
}

//*Media-tablet

@media (min-width: $tablet-width) {
  .example {
    background-color: inherit;
    padding: 0 $base-indent-tablet;
    margin-bottom: 61px;
  }

  .example__article {
    margin-bottom: 72px;
  }
}
