//*Дополнительные товары (catalog)

.extra-products {
  padding: 0 $base-indent;
  margin-bottom: 35px;

  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% + $base-indent*2);
    left: -$base-indent;
    top: 15px;
    background-color: $primary-color;
    z-index: -1;
  }
}

.extra-products__title {
  padding: 0 $base-indent;
  margin: 0;
  margin-left: -$base-indent;
  margin-bottom: 36px;
  display: inline-block;

  font-size: 24px;
  line-height: 1;
  font-weight: 400;

  background-color: $background-light;
}

.extra-products__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .extra-products {
    padding: 0 $base-indent-tablet;
    margin-bottom: 69px;

    &::before {
      width: 100%;
      left: 0;
      top: 22px;
    }
  }

  .extra-products__title {
    padding: 0 40px;
    margin-left: 0;
    margin-bottom: 80px;

    font-size: 36px;
    line-height: 1;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .extra-products__wrapper {
    margin-bottom: 86px;

    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 80px;
  }

  .extra-products {
    padding: 0 $base-indent-desktop;
    margin-bottom: 0;
  }

  .extra-products__title {
    margin-left: -40px;
  }
}
