//*Подвал

.footer {
  padding: 0 $base-indent;

  display: flex;
  flex-direction: column;

  background-color: $secondary-color;
}

.footer__org-logo {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 320px;
    background-color: #d9d9d9;
    left: -$base-indent;
    bottom: 0;
  }
}

.footer__dev-logo {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 320px;
    background-color: #d9d9d9;
    left: -$base-indent;
    top: 0;
  }
}

.footer__socials-list {
  margin: 0 auto;
  padding: 22px 0 21px;
  min-width: 128px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .footer {
    padding: 0 $base-indent-tablet;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 147px;
  }

  .footer__org-logo {
    padding: 0;

    &::after {
      content: none;
    }
  }

  .footer__dev-logo {
    padding: 0;
    min-width: 163px;

    &::before {
      content: none;
    }
  }

  .footer__socials-list {
    padding: 0;
    margin: 0;
    margin-left: 20px;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .footer {
    padding: 0 $base-indent-desktop;
    margin: 0;
    min-height: 149px;
  }
}
