//*Подвал

.footer {
  padding: 0 $base-indent;

  background-color: $secondary-color;
}

.logo-text--footer {
  padding: 39px 0 31px;

  display: flex;
  justify-content: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__logo {
  padding: 22px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.footer__socials-list {
  padding: 22px 0 21px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .footer {
    padding: 0 $base-indent-tablet;

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 147px;
  }

  .logo-text--footer {
    padding: 0;

    display: flex;
    justify-content: center;
  }

  .footer__logo {
    padding: 0;
    min-width: 163px;
  }

  .footer__socials-list {
    padding: 0;
    border: none;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .footer {
    padding: 0 $base-indent-desktop;
    min-height: 149px;
  }
}
