.footer-logo {
  display: flex;
  align-items: center;

  &:hover  .footer-logo__icon-path {
    fill: $base-color1;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-logo__text {
  text-decoration: none;
  color: #444444;
  margin-right: auto;
}

.footer-logo__icon {
}
