.footer-logo {
  &:hover .footer-logo__icon-path {
    fill: $primary-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-logo__text {
  text-decoration: none;
  color$text-dark-lighter;
}

.footer-logo__icon {
  display: flex;
}
