.form {
  fieldset {
    border: none;
  }
}

.form__person {
}

.form__objective {
}

.form__contacts {
}

.form__comment {
}

.form__additionally {
}

.form__submit {
}

.form__notice {
  font-size: 14px;
  line-height: 16px;
  font-family: $third-font-family;
}
