.form__title {
  margin-left: -$base-indent;
  padding: 0 $base-indent;
  display: inline-block;

  font-size: 24px;
  line-height: 26px;

  background-color: $background-light;
}

.form__field {
  border: none;
}

.form__field--entitled {
  margin: 0;
  padding: 0;
  z-index: 1;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% + $base-indent*2);
    left: -$base-indent;
    background-color: $primary-color;
    z-index: -1;
  }
}

.form__person {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.form__objective {
  padding: 28px 0 25px;
  margin: 0;
  margin-bottom: 26px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    top: 0;
    left: -20px;
    background-color: $color-1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    bottom: 0;
    left: -20px;
    background-color: $color-1;
  }
}

.form__contacts {
  margin-bottom: 22px;

  &::before {
    top: -71px;
  }
}

.form__comment {
  margin-bottom: 18px;

  &::before {
    top: -47px;
  }
}

.form__additionally {
  margin-bottom: 39px;

  &::before {
    top: -48px;
  }
}

.form__buttons {
  display: flex;
  flex-direction: column;
}

.form__submit-button {
  padding: 10px;
  margin-bottom: 21px;

  font-size: $primary-fs;
  line-height: 20px;
}

.form__notice {
  font-size: $third-fs;
  line-height: 16px;
  font-family: $third-font-family;
  text-align: center;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .form {
    padding-left: 40px;
    padding-right: 35px;
  }

  .form__title {
    margin-left: -41px;
    padding: 0 40px;

    font-size: 36px;
    line-height: 1;
  }

  .form__field {
    &::before {
      width: calc(100% + 75px + $base-indent-tablet*2);
      left: -70px;
    }
  }

  .form__person {
    margin-bottom: 70px;
  }

  .form__objective {
    margin-bottom: 75px;
    padding: $base-indent-tablet;

    border: 1px solid $color-2;

    position: static;
  }

  .form__contacts {
    margin-bottom: 65px;

    &::before {
      top: -88px;
    }
  }

  .form__comment {
    margin-bottom: 60px;

    &::before {
      top: -88px;
    }
  }

  .form__additionally {
    margin-bottom: 58px;

    &::before {
      top: -74px;
    }
  }

  .form__buttons {
    display: grid;
    grid-template-columns: 282px 1fr;
    column-gap: 61px;
    align-items: center;
  }

  .form__submit-button {
    padding: 13px;
    margin-bottom: 0;

    font-size: $secondary-fs;
    line-height: 26px;
  }

  .form__notice {
    font-size: $primary-fs;
    text-align: left;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .form {
    padding: 0;
  }

  .form__field {
    &::before {
      width: calc(100% + $base-indent-desktop*2);
      left: -$base-indent-desktop;
    }
  }

  .form__person-objective-wrapper {
    margin-bottom: 67px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }

  .form__person {
    margin-bottom: 0;
  }

  .form__objective {
    padding: $base-indent-tablet 28px;
    margin-bottom: 0;

    position: static;
  }

  .form__contacts {
    margin-bottom: 67px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;

    &::before {
      left: -110px;
    }
  }

  .form__comment {
    margin-bottom: 62px;

    &::before {
      right: -110px;
    }
  }

  .form__additionally {
    margin-bottom: 66px;

    &::before {
      right: -110px;
    }
  }

  .form__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}
