.form {
  fieldset {
    border: none;
  }

  legend {
    padding: 0;
  }
}

.form__title {
  font-size: 24px;
  line-height: 26px;
}

.form__person {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.form__objective {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 28px 0 25px;
  margin: 0;
  margin-bottom: 26px;
}

.form__contacts {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.form__comment {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.form__additionally {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
}

.form__buttons {
  display: flex;
  flex-direction: column;
}

.form__submit-button {
  padding: 7px;
  margin-bottom: 21px;
}

.form__notice {
  font-size: 14px;
  line-height: 16px;
  font-family: $third-font-family;
  text-align: center;
}
