.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 $base-indent;
  min-height: 66px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//Навигация

.header__navigation {
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
}

//Кнопка меню

.header__toggle-button {
  background-color: transparent;
  padding: 0;
  min-height: 24px;
  border: none;
  cursor: pointer;
}

.header__toggle-icon {
  position: relative;
  display: block;
  width: 24px;
  height: 1.5px;
  background-color: #000000;

  &::before {
    position: absolute;
    content: "";
    top: 6.5px;
    display: block;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 6.5px;
    display: block;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
  }
}
