//*Шапка
.header {
  padding: 0 $base-indent;
  min-height: 66px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    width: calc(100% / 3 * 2);
    justify-content: space-between;
  }
}

//*tablet-width

@media (min-width: $tablet-width) {
  .header {
    padding: 0 $base-indent-tablet;
    min-height: 108px;
  }

  .header__wrapper {
    justify-content: start;
  }

  .header__navigation {
    margin-left: auto;
    width: auto;

    position: static;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .header {
    padding: 0 $base-indent-desktop;
    margin-bottom: 0;
    min-height: 168px;
  }
}
