.header-navigation {
}

.header-navigation__list {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-navigation__item {
  border-top: 1px solid #e6e6e6;
  padding: 22px 0 24px;
  background-color: #ffffff;
}

.header-navigation__link {
  font-family: "Oswald Medium", sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
  line-height: 20px;

  &:hover:not(.header-navigation__link--current) {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header-navigation__link--current {
  text-decoration: underline;
  text-decoration-color: $base-color1;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

//*Прячет навигацию

// .header__navigation--hidden {
//   display: none;
// }
