//*Блока Как это работает (index)

.instructions {
  padding: 0 $base-indent;
  padding-left: 21px;
  margin-bottom: 53px;
}

.instructions__header {
  margin: 0;
  margin-bottom: 44px;

  vertical-align: middle;
}

.instructions__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.instructions__image {
  position: absolute;
  bottom: -4px;
  background-color: $primary-color;
}

.instructions__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: $base-indent;

  position: relative;

  &:not(:last-child) {
    margin-bottom: 26px;
  }
}

.instructions__description {
  margin: 0;

  grid-column: 2/3;

  font-family: $third-font-family;
  font-size: $third-fs;
  line-height: 18px;
  color: $text-light-dark-1;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .instructions {
    padding: 0 $base-indent-tablet;
    padding-bottom: 47px;
    margin-bottom: 43px;

    border-bottom: 1px solid $color-8;
  }

  .instructions__header {
    margin-bottom: 32px;

    line-height: 1;
  }

  .instructions__list {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    column-gap: 134px;
    row-gap: 37px;
    counter-reset: steps;
  }

  .instructions__item {
    padding: 151px 0 57px;
    display: block;
    counter-increment: steps;

    &::before {
      position: absolute;
      content: counter(steps);
      color: $secondary-color;
      top: 0;
      right: 0;

      font-size: 280px;
      line-height: 1;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .instructions__item--usefull {
    &::before {
      right: 25px;
    }
  }

  .instructions__description {
    position: relative;

    font-size: $primary-fs;
    line-height: 24px;
  }

  .instructions__image {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .instructions {
    padding: 0 $base-indent-desktop;
    margin-bottom: 26px;
    border-bottom: none;
  }

  .instructions__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 77px;
  }
}
