//*Слайдер в блоке Живой пример (index)

.main-slider {
  position: relative;
}

.main-slider__image-container {
  margin-bottom: 15px;
}

.main-slider__image {
  display: block;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.main-slider__image-wrapper--skinny {
  display: none;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .main-slider__image-container {
    margin-bottom: 29px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 511px;
  }

  .main-slider__image-wrapper--skinny {
    display: block;
  }

  .main-slider__image {
    width: auto;

    &--fat {
      object-position: 55px -10px;
    }

    &--skinny {
      object-position: -240px;
    }
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .main-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-slider__image {
    width: auto;

    &--fat {
      object-position: 0 -10px;
    }
  }
}
