.main-product {
  display: flex;
  flex-direction: column;
}

.main-product__title {
  margin: 0;
  margin-bottom: 25px;
}

.main-product__slogan {
  text-transform: uppercase;
  color: $text-light;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}
