//*Описание товара (index)

.main-product {
  display: flex;
  flex-direction: column;
}

.main-product__title {
  margin: 0;
  margin-bottom: 25px;

  color: $text-light;
}

.main-product__slogan {
  margin: 0;

  font-size: $third-fs;
  line-height: 1;
  text-transform: uppercase;
  color: $text-light;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .main-product__title {
    margin-bottom: 40px;

    color: $text-dark;
  }

  .main-product__slogan {
    font-size: $secondary-fs;
    line-height: 1;
    color: $text-dark;
  }
}
