//*Карта

.map {
  margin: 0;
  height: 362px;
}

.map__frame {
  height: 362px;
  width: 320px;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .map {
    height: 400px;
  }

  .map__frame {
    width: 768px;
    height: 400px;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .map__frame {
    width: 1440px;
  }
}
