//*Бонусное предложение (catalog)

.offer {
  width: 100%;

  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;

  background-image: url("/img/catalog-image-mobile.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("/img/catalog-image-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("/img/catalog-image-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/catalog-image-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/catalog-image-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/catalog-image-desktop@2x.jpg");
    }
  }
}

.offer__wrapper {
  padding: 65px 59px 43px;
  min-height: 290px;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  background-image: linear-gradient(to top, $primary-color, $primary-color);
  opacity: 0.85;
  box-sizing: border-box;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 62px;
    top: 65px;
    left: 110px;
    background-image: url("/img/icon_gift.svg");
    background-repeat: no-repeat;
  }
}

.offer__text {
  margin: 0;

  font-family: $third-font-family;
  font-size: $primary-fs;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $text-light;

  z-index: 1;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .offer {
    padding: 0;
    margin-bottom: 76px;
    height: 200px;
    width: auto;
  }

  .offer__wrapper {
    padding: 70px 124px;
    min-height: 200px;

    justify-content: flex-end;

    &::before {
      left: 90px;
    }
  }

  .offer__text {
    max-width: 161px;

    text-align: left;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .offer {
    margin: 0;
    height: 100%;
  }

  .offer__wrapper {
    padding: 42px 43px 42px 41px;
    min-height: 290px;
  }

  .offer__text {
    max-width: 161px;

    text-align: center;

    &::before {
      top: -110px;
      left: 50px;
    }
  }
}
