//*Бонусное предложение (catalog)

.offer {
  height: 290px;
  width: 100%;

  background-image: url("../img/catalog-image.png");
  background-repeat: no-repeat;
  background-position: 50%;
  box-sizing: border-box;
}

.offer__wrapper {
  padding: 65px 59px 43px;
  height: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  background-image: linear-gradient(to top, $primary-color, $primary-color);
  opacity: 0.85;
  box-sizing: border-box;
}

.offer__text {
  margin: 0;

  position: relative;

  font-family: $third-font-family;
  font-size: $primary-fs;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $text-light;

  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 62px;
    top: -110px;
    left: 50px;
    background-image: url("/img/icon_gift.svg");
    background-repeat: no-repeat;
  }
}

//*tablet-width

@media (min-width: $tablet-width) {
  .offer {
    padding: 0;
    margin: 0 $base-indent-tablet 76px;
    height: 200px;
    width: auto;

    background-size: 100%;
    background-position: center 60%;
  }

  .offer__wrapper {
    padding: 70px 124px;

    justify-content: flex-end;
  }

  .offer__text {
    max-width: 161px;

    text-align: left;

    &::before {
      top: -8px;
      left: -276px;
    }
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .offer {
    margin: 0;
    height: 100%;

    background-position: 100%;
    background-size: inherit;
  }

  .offer__wrapper {
    padding: 42px 43px 42px 41px;
  }

  .offer__text {
    max-width: 161px;

    text-align: center;

    &::before {
      top: -110px;
      left: 50px;
    }
  }
}
