.person__label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.person__input {
  padding: 13px 15px 14px;
  border: 1px solid $reserve-color-2;
  box-sizing: border-box;
  outline: none;

  &:hover {
    border-color: $reserve-color-3;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px $text-dark-lighter-1;
    border-color: $text-dark-lighter-1;
  }

  &:invalid {
    box-shadow: inset 0 0 0 1px $error-color;
    border-color: $error-color;
  }
}

.person__input--name {
  width: 229px;
}

.person__input--weight {
  width: 204px;
}

.person__input--age {
  width: 172px;
}
