.primary-button {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: $base-color1;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}
