.primary-button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #FFFFFF;
  border: none;
  background-color: #68B738;

  &:hover {
    background-color: #5EAA2F;
  }

  &:active {
    background-color: #5EAA2F;
    color: rgba(255, 255, 255, 0.3);
  }
}
