//*Главный блок с товаром (index)

.product-presentation {
  padding: 27px $base-indent 0;
  margin-bottom: $base-indent;

  position: relative;

  text-align: center;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 302px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    background-image: url("/img/index-background-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/index-background-mobile@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("/img/index-background-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("/img/index-background-desktop@2x.jpg");
      }
    }
  }

  &::after {
    background-image: linear-gradient(to top, $primary-color, $primary-color);
    opacity: 0.85;
  }
}

.product-presentation__image-wrapper {
  z-index: 2;
}

.product-presentation__wrapper {
  display: flex;
  flex-direction: column;
}

.product-presentation__description {
  margin-bottom: 29px;

  z-index: 1;
}

.product-presentation__image {
  display: block;
  margin-bottom: 3px;

  z-index: 1;
}

.product-presentation__link {
  padding: 11px;

  font-size: $third-fs;
  line-height: 18px;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .product-presentation {
    padding: 0 $base-indent-tablet;
    margin-bottom: 0;
    margin-top: 32px;

    text-align: start;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  .product-presentation__image-wrapper {
    z-index: 0;
  }

  .product-presentation__description {
    margin-bottom: $base-indent;
    margin-left: 87px;

    position: relative;

    z-index: 0;
  }

  .product-presentation__image {
    margin-bottom: 0;
    width: 100%;
    height: 609px;

    z-index: 0;
  }

  .product-presentation__link {
    padding: 17px 27px;
    margin-left: 3px;

    font-size: $secondary-fs;
    line-height: 1;

    position: absolute;
    top: 230px;
    left: 117px;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .product-presentation {
    padding: 0 $base-indent-desktop;
    margin-bottom: 82px;
    margin-top: 0;
    min-height: 553px;

    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 720px;
      height: 694px;
      top: -168px;
      left: 50%;
      background-repeat: no-repeat;
    }

    &::before {
      background-image: url("../img/index-background-desktop.jpg");
    }

    &::after {
      background-image: linear-gradient(to top, $primary-color, $primary-color);
      opacity: 0.85;
    }
  }

  .product-presentation__image-wrapper {
    z-index: 2;
  }

  .product-presentation__wrapper {
    padding: 0 80px;

    align-items: flex-start;
  }

  .product-presentation__description {
    margin: 82px 0 52px;
    max-width: 420px;

    z-index: 2;
  }

  .product-presentation__image {
    position: absolute;
    right: 330px;
    top: -27px;
    width: 552px;
    height: 499px;

    z-index: 2;
  }

  .product-presentation__link {
    position: static;

    z-index: 2;
  }
}
