.product-presentation {
  background-color: #68b738;
  background-image: url("../../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
}

.product-presentation__wrapper {
  background-color: rgba(255, 195, 106, 0.16);
  padding: 0 $base-indent;
  padding-top: 27px;
}

.product-presentation__description {
}

.product-presentation__image-wrapper {
}

.product-presentation__image {
}
