//*Название продукта в карточке товара (catalog)

.product-info__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 400;
  color: $text-dark-lighter-2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 76px;
}

.product-info__description-list {
  margin: 0;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 16px;
  color: $text-dark-lighter-1;
  font-family: $third-font-family;
}

.product-info__description-item {
  display: flex;
  justify-content: space-between;
}

.product-info__description-value {
  margin: 0;
}

//*Media-tablet

@media (min-width: $tablet-width) {
  .product-info__title {
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 145px;
  }

  .product-info__description-list {
    margin-bottom: 33px;
    font-size: 16px;
  }

  .product-info__description-item {
    padding: 9px 0;
    border-bottom: 1px solid $reserve-color-3;
  }
}
