.product-presentation {
  padding: 27px $base-indent 0;
  position: relative;
  margin-bottom: $base-indent;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 302px;
    background-image: url("../img/index-background-mobile.jpg");
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 302px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, $primary-color, $primary-color);
    opacity: 0.85;
  }
}

.product-presentation__wrapper {
  display: flex;
  flex-direction: column;
}

.product-presentation__description {
  z-index: 1;
  margin-bottom: 29px;
}

.product-presentation__image {
  z-index: 1;
  margin-bottom: 3px;
}

.product-presentation__link {
  font-size: 14px;
  line-height: 18px;
  padding: 7px 0;
}
