//*Название продукта в карточке товара (catalog)

.product-info__title {
  margin: 0;
  margin-bottom: 14px;
  max-width: 76px;

  font-size: $primary-fs;
  line-height: 20px;
  font-weight: 400;
  color: $text-light-dark-2;
  text-transform: uppercase;
}

.product-info__title-link {
  text-decoration: none;
}

.product-info__description-list {
  margin: 0;
  margin-bottom: 22px;

  font-size: 12px;
  line-height: 16px;
  font-family: $third-font-family;
  color: $text-light-dark-1;
}

.product-info__description-item {
  display: flex;
  justify-content: space-between;
}

.product-info__description-value {
  margin: 0;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .product-info__title {
    margin: 0 auto;
    margin-bottom: 12px;
    max-width: 145px;

    font-size: $secondary-fs;
    line-height: 24px;
    text-align: center;
  }

  .product-info__description-list {
    margin-bottom: 33px;

    font-size: $primary-fs;
  }

  .product-info__description-item {
    padding: 9px 0;

    border-bottom: 1px solid $color-3;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .product-info__title {
    line-height: 21px;
  }
}
