.real-case__title {
  margin: 0;
  margin-bottom: 40px;
  text-align: start;
}

.real-case__description {
  margin: 0;
  margin-bottom: $base-indent;
  font-size: 14px;
  line-height: 18px;
  color$text-dark-lighter;
  font-family: $third-font-family;
  font-weight: 400;
  text-align: start;
}

.real-case__values {
  margin: 0;
  margin-bottom: $base-indent;
}

.real-case__result {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}
