//*Форма (form)

.search-form {
  padding: 27px $base-indent 32px;
  border-top: 1px solid $color-1;
}

.search-form__title {
  margin-bottom: 37px;
}

.search-form__subtitle {
  margin: 0;
  margin-bottom: 39px;

  font-size: $third-fs;
  line-height: 18px;
  text-transform: uppercase;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .search-form {
    padding: 33px $base-indent-tablet 72px;

    border-top: none;
  }

  .search-form__title {
    margin-bottom: 54px;
    padding: 0 38px;
  }

  .search-form__subtitle {
    margin-bottom: 65px;
    padding: 0 35px 0 40px;

    font-size: $secondary-fs;
    line-height: 30px;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .search-form {
    padding: 19px $base-indent-desktop 82px;
  }

  .search-form__title {
    margin-bottom: 56px;
    padding: 0;
  }

  .search-form__subtitle {
    margin-bottom: 66px;
    padding: 0;
  }
}
