//*Соц. сети

.socials {
  margin: 0;

  list-style: none;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 24px;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials__link {
  display: flex;
  align-items: center;
}

.socials__link-image {
  fill: #666666;

  &:hover {
    fill: $primary-color;
  }
}
