.html {
  height: 100%;
}

.body {
  margin: 0;
  min-height: 100%;
  min-width: 320px;

  font-family: $primary-font-family;
  font-weight: 400;
  color: $text-dark;
}

.body__wrapper {
  margin: 0 auto;
  min-height: 100%;
  width: 320px;

  display: flex;
  flex-direction: column;

  background-color: $background-light;

  position: relative;
  overflow: hidden;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .body {
    min-width: 768px;
  }

  .body__wrapper {
    width: 768px;
  }
}

//*desktop-width

@media (min-width: $desktop-width) {
  .body {
    min-width: 1440px;
  }

  .body__wrapper {
    width: 1440px;
  }
}
