// *Логотип (Header)
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 191px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.logo__icon {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__text {
  margin: 0;
  display: none;
}

// *Смена логотипов (Media queries)
@media (max-width: $mobile-width-only) {
  .logo__image--tablet,
  .logo__image--desktop {
    display: none;
  }

  .logo__text {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .logo__image--mobile,
  .logo__image--desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo__image--mobile,
  .logo__image--tablet {
    display: none;
  }

  .logo__image--desktop {
    display: inline-block;
  }
}

// *Логотип HTML Academy (Footer)
.developer-logo__image {
  fill: #666666;
}

.developer-logo:hover .developer-logo__image {
  fill: $primary-color;
}

.developer-logo:active {
  opacity: 0.3;
}

// Текстовая часть

.developer-logo__text {
  font-size: $primary-fs;
  line-height: 18px;
  font-family: $third-font-family;
  color: $text-light-dark-1;
  text-decoration: none;
}

// Графическая часть

.developer-logo__icon {
  display: flex;
}
