// *Логотип в Шапке

.logo-icon {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo-text {
  margin: 0;
  display: none;
}

@media (max-width: $mobile-width-only) {
  .logo-icon--tablet,
  .logo-icon--desktop {
    display: none;
  }

  .logo-text {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .logo-icon--mobile,
  .logo-icon--desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo-icon--mobile,
  .logo-icon--tablet {
    display: none;
  }

  .logo-icon--desktop {
    display: inline-block;
  }
}

//* Логотип Cat Energy в Подвале (элемент)

.footer__org-logo {
  padding: 39px 0 31px;

  text-align: center;
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

//* Логотип HTML Academy в Подвале (элемент)

.footer__dev-logo {
  padding: 22px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

// *Логотип HTML Academy (блок)

.developer-logo__image {
  fill: #666666;
}

.developer-logo:hover .developer-logo__image {
  fill: $primary-color;
}

.developer-logo:active {
  opacity: 0.3;
}

// Текстовая часть

.developer-logo__text {
  font-size: $primary-fs;
  line-height: 18px;
  font-family: $third-font-family;
  color: $text-light-dark-1;
  text-decoration: none;
}

// Графическая часть

.developer-logo__icon {
  display: flex;
}
