.primary-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.primary-title--light {
  color: $text-light;
}

.primary-title--big {
  line-height: 40px;
}

.secondary-title {
}

.primary-text {
}

.primary-text--light {
}

.primary-text--dark {
}
