.primary-title {
  margin: 0;

  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}

.form-text {
  font-size: $primary-fs;
  line-height: 18px;
  font-family: $primary-font-family;
  text-transform: uppercase;
}

.form-text--light {
  color: $text-light-dark-1;
}

//*tablet-width

@media (min-width: $tablet-width) {
  .primary-title {
    font-size: 60px;
    line-height: 1;
  }

  .form-text {
    font-size: $secondary-fs;
    line-height: 30px;
  }
}
