.html {
  height: 100%;
}

.body {
  margin: 0;
  height: 100%;
  min-width: 320px;

  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  color: #000000;

  background-color: #99999960; //test
}

.body__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 320px;

  background-color: #ffffff;
  position: relative;
}

.visually-hidden {
  display: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}
