@font-face {
  font-family: "Oswald Regular";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald Medium";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

.visually-hidden {
  display: none;
}

@use
  "blocks/advantage-card.scss",
  "blocks/advantages.scss",
  "blocks/example.scss",
  "blocks/footer-logo.scss",
  "blocks/footer.scss",
  "blocks/instructions.scss",
  "blocks/main-container.scss",
  "blocks/main-header.scss",
  "blocks/main-logo.scss",
  "blocks/main-navigation.scss",
  "blocks/main-product.scss",
  "blocks/main-slider.scss",
  "blocks/map.scss",
  "blocks/page.scss",
  "blocks/partnership.scss",
  "blocks/primary-button.scss",
  "blocks/primary-title.scss",
  "blocks/product-presentation.scss",
  "blocks/real-case.scss",
  "blocks/site-logo.scss",
  "blocks/socials.scss",
  "blocks/values-list.scss",
  ;
