$primary-color: #68b738;
$primary-color-dark: #5eaa2f;

$secondary-color: #f2f2f2;
$secondary-color-dark: #eaeaea;

$background-dark: #000000;
$background-light: #ffffff;

$text-light: #ffffff;
$text-dark-1: #000000;
$text-dark-2: #111111;
$text-dark-lighter-1: #444444;
$text-dark-lighter-2: #222222;

$reserve-color-1: #d9d9d9;
$reserve-color-2: #e7e7e7;
$reserve-color-3: #cdcdcd;
$reserve-color-4: #ebebeb;

$base-indent: 20px;

$primary-font-family: "Oswald Regular", sans-serif;
$secondary-font-family: "Oswald Medium", sans-serif;
$third-font-family: "Arial", sans-serif;
