//*Colors
$primary-color: #68b738;
$primary-color-darker: #5eaa2f;

$secondary-color: #f2f2f2;
$secondary-color-darker: #eaeaea;

$background-light: #ffffff;
$background-dark: #000000;

$text-light: #ffffff;
$text-dark: #000000;
$text-darker: #111111;
$text-light-dark-1: #444444;
$text-light-dark-2: #222222;

$color-1: #d9d9d9;
$color-2: #e7e7e7;
$color-3: #cdcdcd;
$color-4: #ebebeb;
$color-5: #bababa;
$color-6: #dcdcdc;
$color-7: #c4c4c4;
$color-8: #e6e6e6;

$error-color: #ff8282;

//*Indents
$base-indent: 20px;
$base-indent-tablet: 30px;
$base-indent-desktop: 110px;

//*Font-sizes
$primary-fs: 16px;
$secondary-fs: 20px;
$third-fs: 14px;

//*Fonts
$primary-font-family: "Oswald Regular", "Arial", sans-serif;
$secondary-font-family: "Oswald Medium", "Arial", sans-serif;
$third-font-family: "Arial", sans-serif;

//*Viewports
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
